@model Person

<div class="card">
    <div class="card-header">
        <h2><a asp-action="Detail" asp-route-id="@Model.Id">@Model.FirstName</a> @Model.LastName</h2>
    </div>
    <div class="card-body">
        <a class="btn" href="mailto:@Model.Email">Contact</a>
    </div>
</div>